# Ignorar archivos de compilación
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out

# Ignorar directorios de compilación
/build/
bin/
debug/
release/

# Archivos de respaldo y temporales
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.~*

# Archivos generados por el IDE
.vscode/
*.code-workspace
.idea/
*.iml

# Archivos de configuración específicos del sistema
.DS_Store
Thumbs.db